@import "./../../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer-arku {
  flex: 0 0 auto;
  text-align: center;
}

.auth-form {
  max-width: 500px;
  margin: 30px auto;
}

.nav {
  flex-direction: row;
  &-item {
    margin-right: 10px;
  }
}
